.App{
  align-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.NavBar{
  background-color: black;
  padding: 1%;
  text-align: center;
}
.Body{
  font-family: 'Poor Story', cursive;
  font-size: large;
  padding: 4%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
.Card{
  padding: auto;
  width: 300,

}
.Link{
  color: white;
  padding-left: 2%;
  text-decoration: none;
  font-size: large;
  font-family: 'Poor Story', cursive;
}
.Name{
  color: white;
  text-decoration: none;
  font-size:xx-large;
  font-family: 'Poor Story', cursive;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.SubjIntro{
  color: #a3b2b6;
}
.Author{
  height: 100%;
  width: 100%;
}
.App-link {
  color: #d4eaf0;
}

.Quote{
  font-family: 'Anton', sans-serif;
  color: #2b2c2d;
}

.CourseList{
  text-decoration: none;
  list-style: none;
}
.CourseItem{
  padding: 1%;
}
.rocket {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
  animation: fly infinite 10s ease-in-out;
}

@keyframes fly {
  from {
      bottom: -100%;
  }

  to {
      bottom: 100%;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

